body {
  font-family: Cambria;
  color: black;
}

#panel{
  height: 500px;
  width: 500px;
  position: absolute;
  left: 55%;
  top: 40%;
  margin-left: -250px;
  margin-top: -250px;
  max-width: 25em;
  max-height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

#panel > *{ 
  margin: 1em;
}

#panel > p{
  color: red;
}

#panel .password >* {
  margin-right:0.5em;
}

#panel .username >* {
  margin-right: 0.5em;
}
