body {
  font-family: cursive;
  background: #323234;
  color: white;
}

#panel{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#panel > *{
  margin: 2em;
}

.input{
  background: #323234;
  color: white;
  font-family: cursive;
  border-width: thin;
  border-radius: 5px;
}
.session{
  display: flex;
  flex-direction: column;
}

.session .content{
  display: flex;
}

.project {
  border-radius: 10px;
  padding: 1em;
  margin: 0.5em;
  
}

.list{
  display:flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 0.3em;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  
}

.card{
  display:flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 0.3em;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
}

.card .content{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  padding: 0.4em;
}

.card .content > *{
  margin: 0.3em;
}
